
.informations {
  .developer {
    padding: 50px;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 18px;
    }
  }
  .identity {
    background-color: #fafafa;
    .identitys {
      padding: 50px;
      h1 {
        font-size: 60px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.icons {
  width: 85px;
  height: 71px;
  border-radius: 50%;
  color: #fff;
  margin-right: 20px;
  background-color: #222222;
  i {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
  }
}
.text {
  h3 {
    color: #222222;
    font-size: 22px;
    font-weight: 500;
  }
  p {
    color: #777777;
    font-weight: 400;
  }
}
.about {
  margin: 50px 0 50px 0;
}