
.informations {
  .developer {
    padding: 50px;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 18px;
    }
  }
  .identity {
    background-color: #fafafa;
    .identitys {
      padding: 50px;
      h1 {
        font-size: 60px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.icons {
  min-width: 72px;
  height: 72px;
  border-radius: 50%;
  color: #fff;
  margin-right: 20px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    font-size: 40px;
  }
}
.text {
  h3 {
    color: #222222;
    font-size: 22px;
    font-weight: 500;
  }
  p {
    color: #777777;
    font-weight: 400;
  }
}
.about {
  margin: 50px 0 50px 0;
}

@media screen and (max-width: 766px) {
  .informations {
    .developer {
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
    .identity {
      .identitys {
        h1 {
          margin: 20px 0 20px 0;
          font-size: 40px;
        }
      }
    }
  }
}