.nav-logo {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  color: #fff;
  opacity: 0.8;
  .container {
    height: 800px;
  }
  .escape-logo {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    font-size: 25px;
    i {
      padding: 10px;
    }
  }
  .excape-menu {
    ul {
      padding: 20px;
      font-size: 18px;
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      text-decoration: none;
      a {
        color: #fff;
      }
    }
  }
}
.nav-item a{
  color: #fff !important;
}



@media screen and (max-width: 766px) {
  .excape-menu {
    margin-top: 20px;
  }
}