.team {
  .container-fluid {
    background-color: #111111;
    color: #fff;
    .team-header {
      h1 {
        font-size: 60px;
      }
      h4 {
        font-weight: 700;
        font-size: 18px;
      }
      p {
        color: #777777;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }
}
.team-cols {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-circle {
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: #ffffff;
  background-color: #111111;
  width: 220px;
  height: 221px;
  margin-bottom: 30px;
}
.socials {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  i {
    padding: 0 10px 0 10px;
  }
}
.end-textteam {
  margin: 50px 50px 80px 50px;
  font-size: 20px;
  color: #ebebeb;
}